<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.days_and_months">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Days_and_Months">
        <activity android:name=".TIME.timeActivity" android:label="@string/timesActivityName"/>
        <activity android:name=".COLOR.colorActivity" android:label="@string/colorsActivityName"/>
        <activity android:name=".SEASON.seasonActivity" android:label="@string/seasonsActivityName"/>
        <activity android:name=".DAYS.dayActivity" android:label="@string/daysActivityName"/>
        <activity android:name=".MONTH.monthActivity" android:label="@string/monthsActivityName" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>